.slide-in {
    z-index: 10; /* to position it in front of the other content */
    position: absolute;
    overflow: hidden; /* to prevent scrollbar appearing */
}

.slide-in.from-left {
    left: 0;
}

.slide-in.from-right {
    right: 0;
}

.slide-in-content {
    transition: all 1.5s linear; /* our nice transition */
}

.slide-in.from-left .slide-in-content {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 1.5s linear;
}

.slide-in.show .slide-in-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: all 1.5s linear;
}
