@font-face {
    font-family: "AdihausDIN";
    src: url("./fonts/729-font.ttf") format("ttf")
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

body {
    background: #6e8687;
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

button {
    outline: none !important;
}
